html, body{
  max-height: 100vh !important;
  overflow: hidden;
  margin: 0;
}

.btn-primary:focus {
  background-color: #0d6efd !important;
  border: 0 !important;
  box-shadow: none !important;
}

.bg-color {
  background-color: #a2979787 !important;
}

tr:nth-child(even)>td {
  background-color: #f9f9f9 !important;
}

table, ul {
  table-layout: fixed;
}
.pe-auto {
  cursor: pointer !important;
}
.page-item>.bg-primary {
  color: #fff !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.vh-100 {
  height: 95vh !important;
}

.nav-link.active {
  width: 100% !important;
}

.card {
  box-shadow: 3px 3px 7px #d7d7d7;
}

.card1 {
  display: flex;
  align-items: stretch;
}

@media (max-width: 575px) {
  .d-sx-none {
    display: none !important;
  }

  .col-sx-1 {
    width: calc(100% / 12);
  }

  .col-sx-11 {
    width: calc((100% / 12)*11);
  }
}

@media (max-height: 850px) {
  .vh-100 {
    height: 95vh !important;
  }
}
