html, body{
  max-height: 100% !important;
  overflow: hidden;
}

body {
  margin: 0;
}

.btn-primary:focus {
  background-color: #0d6efd !important;
  border: 0 !important;
  box-shadow: none !important;
}

.bg-color {
  background-color: #a2979787 !important;
}

tr:nth-child(even) {
  background-color: #000000 !important;
  color: #0d6efd
  ;
}

table, ul {
  table-layout: fixed;
}